<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/user-manage">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Users Management</span>
      </a>
    </li>

    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/product-manage">
        <i class="ti-shopping-cart-full menu-icon"></i>
        <span class="menu-title">Product Management</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/category-manage">
        <i class="ti-layout-accordion-separated menu-icon"></i>
        <span class="menu-title">Category Management</span>
      </a>
    </li>
  </ul>
</nav>