<%- include('./user/layouts/userHeader.ejs') %>

    <div style="height: 100vh; background-color: #f1f5f9;"   class=" d-flex justify-content-center align-items-center flex-column">
        <img class="m-5 p-5" src="/user/images/404 gif.gif" alt="">
    </div>

    <%- include('./user/layouts/footer.ejs') %>