<%- include('./layouts/userHeader.ejs') %>

    <div style="height: 100vh;" class=" d-flex justify-content-center align-items-center flex-column">
        <img src="/user/images/order success.gif" alt="">
        <h4>Order successfull</h4>
        <a class=" mt-3 btn btn-primary" href="/order-view">Track Your Order</a>
        <a class="mt-2 btn border" href="/">Continue Shoping</a>
    </div>

    <%- include('./layouts/footer.ejs') %>