
.total{
    display: flex;
    
}
.body2{
    background-color:#dddddd ;
    
}
.content{
    margin: 2rem;
    margin-top: 6rem;
    
    
    
}
.profile{
    width: 66rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2rem;
   
}
.user-icon{
    font-size: 50px;
    
}
.user-info{
    width: 60rem;
    background-color: #fff;
    margin-top: 2rem;
}

a{
    text-decoration: none;
}
