
.total{
    display: flex;
    
}
.body2{
    background-color:#fafafa ;
    font-family: Arial, sans-serif;
	font-size: 15px;
	

	height: 100%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
}
.content{
    margin: 2rem;
    margin-top: 6rem;
    
    
    
}
.profile{
    width: 66rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2rem;
   
}
.user-icon{
    font-size: 50px;
    
}
.user-info{
    width: 60rem;
    background-color: #fff;
    margin-top: 2rem;
}

a{
    text-decoration: none;
}
