<!DOCTYPE html>
<html lang="en">

<head>
	<title>Gadsto</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/user/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/bootstrap/css/bootstrap.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/iconic/css/material-design-iconic-font.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/linearicons-v1.0.0/icon-font.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/animate/animate.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/css-hamburgers/hamburgers.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/animsition/css/animsition.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/select2/select2.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/daterangepicker/daterangepicker.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/slick/slick.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/MagnificPopup/magnific-popup.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/perfect-scrollbar/perfect-scrollbar.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" type="text/css" href="/user/css/util.css" />
	<link rel="stylesheet" type="text/css" href="/user/css/main.css" />
	<link rel="stylesheet" href="/style.css" />
	<!--===============================================================================================-->
</head>

<body class="animsition">
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>

					<div class="right-top-bar flex-w h-full">
						<% if (!login) { %>
							<a href="/signup" class="flex-c-m trans-04 p-lr-25"> Signup </a>

							<a href="/login" class="flex-c-m trans-04 p-lr-25"> Signin </a>
							<% } %>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					<!-- Logo desktop -->
					<a href="/" class="logo">
						<img style="width: 11rem; object-fit: cover" src="/images/Untitled__1_-removebg-preview.png"
							alt="IMG-LOGO" />
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="">
								<a href="/">Home</a>
							</li>

							<li>
								<a href="shop">Shop</a>
							</li>

							<li>
								<a href="contact">Contact</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 "
							data-notify="2">
							<a style="color: inherit" href="/wishList"><i class="zmdi zmdi-favorite-outline"></i></a>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11"
							data-notify="2">
							<a style="color: inherit" href="/shoping-cart"><i class="zmdi zmdi-shopping-cart"></i></a>
						</div>

						<div class="btn-group">
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="zmdi zmdi-account ml-2" style="font-size: 26px"></i>
							</button>

							<div class="dropdown-menu">
								<a class="dropdown-item" href="my-profile">My profile</a>
								<a class="dropdown-item" href="wishList">My whish list</a>
								<a class="dropdown-item" href="order-view">My orders</a>
								<div class="dropdown-divider"></div>
								<% if (login) { %>
									<form action="/" method="post">
										<a type="submit" class="dropdown-item" href="#"><button
												type="submit">Logout</button></a>
									</form>
									<% } %>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/"><img style="width: 8rem; object-fit: cover" src="/images/Untitled__1_-removebg-preview.png"
						alt="IMG-LOGO" /></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li>
					<a href="/">Home</a>
				</li>

				<li>
					<a href="shop">Shop</a>
				</li>

				<li>
					<a href="shoping-cart">Cart</a>
				</li>

				<li>
					<a href="wishList">Wishlist</a>
				</li>

				<li>
					<a href="my-profile">My profile</a>
				</li>

				<li>
					<a href="contact">Contact</a>
				</li>
				<% if (login) { %>
				<li>
					<div class="dropdown-divider"></div>
				</li>
				
				<li>
						<a type="submit" href="#">Logout</a>
				</li>
				<% } %> 
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="/user/images/icons/icon-close2.png" alt="CLOSE" />
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search..." />
				</form>
			</div>
		</div>
	</header>